*
{
    font-family: 'Kumbh Sans', sans-serif;
}
/*
body
{
    background-color: rgba(0, 0, 35, 40);
}
*/

/*!----MAIN COMPARTMENT (PASSWORD MANAGER) CSS SECTION----*/

.main
{
    background-color: lightgray;
    border-radius: 8px;
}

.main__container
{
    max-width: 600px;
    max-height: 600px;
    height: 455px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.main__content h1
{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    padding-top: 10px;
    background-color: #131313;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p
{
    font-size: 1rem;
    margin-top: -15px;
}

.main__content label
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    padding: 2px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.main__button
{
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 4px;
    color: #131313;
    margin-top: 150px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__button:hover
{
    background-color: lightgreen;
    transition: all 0.3 ease;
}

.main__button:active
{
    background-color: darkgreen;
}
/*
.dark__mode
{
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 4px;
    color: #131313;
    margin-top: 5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}


.dark__mode:hover
{
    background-color: white;
    transition: all 0.3 ease;
}

.dark__mode:active
{
    background-color: darkgreen;
}
*/

[data-theme="light"]
{
    --color-bg: #ffffff;
    --color-fg: #4e4d4d;
}

[data-theme="dark"]
{
    --color-bg: #4e4d4d;
    --color-fg: #ffffff;
}

body 
{
    background-color: var(--color-bg);
    color: var(--color-fg);
    min-height: 100vh;
    width: 600px;
    margin-left: 475px;
}

.color__theme
{
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin-top: 150px;
    transition: all var(--global-transition-time) ease-in-out;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-bg);
    background-color: var(--color-fg);
}   






/*!----SAVED ACCOUNTS CSS SECTION----*/

.accounts
{
    background-color: lightgray;
    border-radius: 8px;
}

.accounts__container
{
    max-width: 600px;
    max-height: 600px;
    height: 455px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.accounts__content h2
{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    
    padding-top: 10px;
    background-color: #131313;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.accounts__content p
{
    font-size: 1rem;
    margin-top: -15px;
}


/*!----Setting a max width for browser screen using media screen----*/
/*
@media screen and (max-width: 960px)
{
    .main__container
{
    max-width: 600px;
    max-height: 600px;
    height: 455px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.main__content h1
{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    padding-top: 10px;
    background-color: #131313;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p
{
    font-size: 1rem;
    margin-top: -15px;
}

.main__content label
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    padding: 2px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.main__button
{
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 4px;
    color: #131313;
    margin-top: 5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__button:hover
{
    background-color: lightgreen;
    transition: all 0.3 ease;
}

.main__button:active
{
    background-color: darkgreen;
}

[data-theme="light"]
{
    --color-bg: #ffffff;
    --color-fg: #4e4d4d;
}

[data-theme="dark"]
{
    --color-bg: #4e4d4d;
    --color-fg: #ffffff;
}

body 
{
    background-color: var(--color-bg);
    color: var(--color-fg);
    min-height: 100vh;
    width: 600px;
    margin-left: 475px;
}

.color__theme
{
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: all var(--global-transition-time) ease-in-out;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-bg);
    background-color: var(--color-fg);
}   

.accounts
{
    background-color: lightgray;
    border-radius: 8px;
}

.accounts__container
{
    max-width: 600px;
    max-height: 600px;
    height: 455px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.accounts__content h2
{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    
    padding-top: 10px;
    background-color: #131313;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.accounts__content p
{
    font-size: 1rem;
    margin-top: -15px;
}

}

@media screen and (max-width: 768px)
{
        .main__container
{
    max-width: 600px;
    max-height: 600px;
    height: 455px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.main__content h1
{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    padding-top: 10px;
    background-color: #131313;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p
{
    font-size: 1rem;
    margin-top: -15px;
}

.main__content label
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    padding: 2px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.main__button
{
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 30px;
    border: none;
    border-radius: 4px;
    color: #131313;
    margin-top: 5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__button:hover
{
    background-color: lightgreen;
    transition: all 0.3 ease;
}

.main__button:active
{
    background-color: darkgreen;
}

[data-theme="light"]
{
    --color-bg: #ffffff;
    --color-fg: #4e4d4d;
}

[data-theme="dark"]
{
    --color-bg: #4e4d4d;
    --color-fg: #ffffff;
}

body 
{
    background-color: var(--color-bg);
    color: var(--color-fg);
    min-height: 100vh;
    width: 600px;
    margin-left: 475px;
}

.color__theme
{
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: all var(--global-transition-time) ease-in-out;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-bg);
    background-color: var(--color-fg);
}   

.accounts
{
    background-color: lightgray;
    border-radius: 8px;
}

.accounts__container
{
    max-width: 600px;
    max-height: 600px;
    height: 455px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.accounts__content h2
{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    
    padding-top: 10px;
    background-color: #131313;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.accounts__content p
{
    font-size: 1rem;
    margin-top: -15px;
}
}
*/
/*...*/